{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}

<div class="p-3">
	<form class="layui-form gg-form-bar border-t border-x">
		<div class="layui-input-inline" style="width:300px;">
			<select name="type" id="type-select">
				<option value="">请选择积分类型</option>
				<option value="1">回收积分</option>
				<option value="2">兑换代金券</option>
				<option value="3">兑换现金</option>
			</select>
		</div>
		<div class="layui-input-inline" style="width:300px;">
			<input type="text" name="keywords" placeholder="请输入邮箱" class="layui-input" autocomplete="off" />
		</div>
		<div class="layui-input-inline" style="width:120px;">
			<input type="text" class="layui-input" id="start_time" readonly placeholder="创建开始时间" name="start_time">
		</div>
		~
		<div class="layui-input-inline" style="width:120px;">
			<input type="text" class="layui-input" id="end_time" readonly placeholder="创建结束时间" name="end_time">
		</div>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="searchform">提交搜索</button>
	</form>
	<table class="layui-hide" id="points_record" lay-filter="points_record"></table>
</div>

{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		var table = layui.table,tool = layui.tool, form = layui.form, laydate = layui.laydate;
		laydate.render({
			elem: '#start_time',
			type: 'date'
		});

		laydate.render({
			elem: '#end_time',
			type: 'date'
		});
		layui.pageTable = table.render({
			elem: '#points_record',
			title: '用户积分记录列表',
			toolbar: '#toolbarDemo',
			url: '/admin/points_record/datalist',
			page: true,
			limit: 20,
			cellMinWidth: 300,
			cols: [
				[
				{
					fixed: 'left',
					field: 'id',
					title: '编号',
					align: 'center',
					width: 80
				},{
					field: 'email',
					title: '用户邮箱',
					align: 'center',
					width: 150
				},{
					field: 'type_label',
					title: '类型',
					align: 'center',
					width: 100
				},{
					field: 'quantity',
					title: '积分数量',
					align: 'center',
					width: 100
				},{
					field: 'remark',
					title: '备注',
					align: 'center',
					width: 100
				},{
					field: 'status_label',
					title: '状态',
					align: 'center',
					width: 100
				},{
					field: 'create_time',
					title: '创建时间',
					align: 'center',
					width: 150
				},
				{
					fixed: 'right',
					field: 'right',
					title: '操作',
					// toolbar: '#barDemo',
					width: 136,
					align: 'center',
					templet:function(d){
						let btn1 = '<span class="layui-btn layui-btn-xs layui-btn-normal" lay-event="read">详情</span>';
						let btn2 = '<span class="layui-btn layui-btn layui-btn-xs" lay-event="approved">审核</span>';
						if(d.status == 0){
							return '<div class="layui-btn-group">'+btn1+btn2+'</div>';
						}else{
							return '<div class="layui-btn-group">'+btn1+'</div>';
						}
					}
				}				
				]
			]
		});
		
		//监听表头工具栏事件
		table.on('toolbar(points_record)', function(obj){
			if (obj.event === 'add') {
				tool.side("/admin/points_record/add");
				return false;
			}
		});

		//监听表格行工具事件
		table.on('tool(points_record)', function(obj) {
			var data = obj.data;
			if (obj.event === 'read') {
				tool.side('/admin/points_record/read?id='+obj.data.id);
			}
			else if (obj.event === 'approved') {
				layer.confirm('确定要审核该记录吗?', {
					icon: 3,
					title: '提示'
				}, function(index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layer.close(index);
							layui.pageTable.reload()
						}
					}
					tool.post("/admin/points_record/approved", { id: data.id },callback);
				});
			}
			return false;
		});

		//监听搜索提交
		form.on('submit(searchform)', function(data) {
			layui.pageTable.reload({
				where: {
					keywords: data.field.keywords,
					type: data.field.type,
					start_time: data.field.start_time,
					end_time: data.field.end_time
				},
				page: {
					curr: 1
				}
			});
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->