{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<div class="layui-form p-4">
	<h3 class="pb-3">Details of user points record</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray-2">Email</td><td>{$detail.email}</td>
			<td class="layui-td-gray-2">Type</td><td>{$detail.type_label}</td>
			<td class="layui-td-gray-2">Quantity</td><td>{$detail.quantity}</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">Order no</td><td>{$detail.order_no}</td>
			<td class="layui-td-gray-2">Voucher</td><td>{$detail.voucher_id}</td>
			<td class="layui-td-gray-2">Amount</td><td>{$detail.money_amount}</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">Remark</td><td>{$detail.remark}</td>
			<td class="layui-td-gray-2">Status</td><td>{$detail.status_label}</td>
			<td class="layui-td-gray-2">Create time</td><td>{$detail.create_time}</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">Update Time</td><td>{$detail.update_time}</td><td colspan='4'></td>
		</tr>
	</table>
</div>
{/block}
<!-- /主体 -->