{extend name="common/base"/}
{block name="style"}
<style>
.left-note{font-weight:800; vertical-align:top; padding-top:28px!important; text-align:center}
.left-note .layui-form-checkbox span{background-color: #bbbbbb!important;}
.left-note .layui-form-checkbox:hover span{background-color: #808080;}

.layui-form-checked.layui-checkbox-disabled i{background-color:#ababab!important;color: #ffffff!important;border-color:#ababab!important;}
.layui-form-checked.layui-checkbox-disabled[lay-skin=primary] i{background-color:#ababab!important;}
.right-note .layui-checkbox-disabled span {color: #808080!important;}
</style>
{/block}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">Administrator detail</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">username</td>
			<td>
				{$admin.username}
			</td>
			<td class="layui-td-gray">nickname</td>
			<td>
				{$admin.nickname}
			</td>
			<td rowspan="4" class="layui-td-gray">avatar</td>
			<td rowspan="4" valign="top" style="width: 150px;">
				<div class="layui-upload">
					<img src="{$admin.thumb}" width="150" height="150" style="max-width:150px;" />
				</div>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">user status</td>
			<td>
				{eq name="$admin.status" value="1" }enable{/eq}
				{eq name="$admin.status" value="0" }disable{/eq}
			</td>
			<td class="layui-td-gray">email</td>
			<td>
				{$admin.email}
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">role
			</td>
			<td>
				{volist name=":get_admin_group()" id="v"}
				{volist name="$admin.group_id" id="a"}{eq name="$a" value="$v.id" }{$v.title},{/eq}{/volist}
				{/volist}
			</td>
			<td class="layui-td-gray">number of logins</td>
			<td>
				{$admin.login_num} times
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">last login time</td>
			<td>
				{$admin.last_login_time | date='Y-m-d H:i:s'}
			</td>
			<td class="layui-td-gray-2">last login ip</td>
			<td>
				{$admin.last_login_ip}
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">remark</td>
			<td colspan="5">
				{$admin.desc}
			</td>
		</tr>
	</table>
</form>
{/block}
<!-- /主体 -->