{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}

<div class="p-3">
	<form class="layui-form gg-form-bar border-t border-x">
		<div class="layui-input-inline" style="width:300px;">
			<input type="text" name="keywords" placeholder="Please enter keywords" class="layui-input" autocomplete="off" />
		</div>
		<div class="layui-input-inline" style="width:120px;">
			<input type="text" class="layui-input" id="start_time" readonly placeholder="donate time start" name="start_time">
		</div>
		~
		<div class="layui-input-inline" style="width:120px;">
			<input type="text" class="layui-input" id="end_time" readonly placeholder="donate time end" name="end_time">
		</div>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="searchform">search</button>
	</form>
	<table class="layui-hide" id="donate_record" lay-filter="donate_record"></table>
</div>

<script type="text/html" id="barDemo">
<div class="layui-btn-group">
	<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="read">detail</a>
</div>
</script>

{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		var table = layui.table,tool = layui.tool, form = layui.form, laydate = layui.laydate;
		laydate.render({
			elem: '#start_time',
			type: 'date',
			lang: 'en'
		});

		laydate.render({
			elem: '#end_time',
			type: 'date',
			lang: 'en'
		});
		layui.pageTable = table.render({
			elem: '#donate_record',
			title: 'donate record list',
			toolbar: '#toolbarDemo',
			url: '/admin/donate_record/datalist',
			page: true,
			limit: 20,
			cellMinWidth: 300,
			cols: [
				[
				{
					fixed: 'left',
					field: 'id',
					title: 'ID',
					align: 'center',
					width: 80
				},{
					field: 'type_label',
					title: 'donation channels',
					align: 'center',
					width: 150
				},{
					field: 'email',
					title: 'email',
					align: 'center',
					width: 240
				},{
					field: 'amount',
					title: 'amount',
					align: 'center',
					width: 100
				},{
					field: 'payment_status_label',
					title: 'payment status',
					align: 'center',
					width: 130
				},{
					field: 'create_time',
					title: 'donate time',
					align: 'center',
					width: 160
				},
				{
					fixed: 'right',
					field: 'right',
					title: 'operation',
					toolbar: '#barDemo',
					width: 136,
					align: 'center'
				}				
				]
			]
		});

		//监听表格行工具事件
		table.on('tool(donate_record)', function(obj) {
			var data = obj.data;
			if (obj.event === 'read') {
				tool.side('/admin/donate_record/read?id='+obj.data.id);
			}
			return false;
		});

		//监听搜索提交
		form.on('submit(searchform)', function(data) {
			layui.pageTable.reload({
				where: {
					keywords: data.field.keywords,
					start_time: data.field.start_time,
					end_time: data.field.end_time
				},
				page: {
					curr: 1
				}
			});
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->