{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<div class="layui-form p-4">
	<h3 class="pb-3">捐款记录详情</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray-2">渠道</td><td>{$detail.type_label}</td>
			<td class="layui-td-gray-2">金额</td><td>{$detail.amount}</td>
			<td class="layui-td-gray-2">支付状态</td><td>{$detail.payment_status_label}</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">邮箱</td><td>{$detail.email}</td>
			<td class="layui-td-gray-2">姓</td><td>{$detail.first_name}</td>
			<td class="layui-td-gray-2">名</td><td>{$detail.last_name}</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">手机号</td><td>{$detail.mobile}</td>
			<td class="layui-td-gray-2">国家</td><td>{$detail.country}</td>
			<td class="layui-td-gray-2">省</td><td>{$detail.province}</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">城市</td><td>{$detail.city}</td>
			<td class="layui-td-gray-2">地址</td><td>{$detail.address}</td>
			<td class="layui-td-gray-2">捐款IP</td><td>{$detail.donate_ip}</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">第三方支付ID</td><td>{$detail.third_payment_id}</td>
			<td class="layui-td-gray-2">捐款时间</td><td>{$detail.create_time}</td><td colspan='2'></td>
		</tr>
	</table>
</div>
{/block}
<!-- /主体 -->