{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<div class="layui-form p-4">
	<h3 class="pb-3">Details of donation record</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray-2">Donation channels</td><td>{$detail.type_label}</td>
			<td class="layui-td-gray-2">Amount</td><td>{$detail.amount}</td>
			<td class="layui-td-gray-2">Payment status</td><td>{$detail.payment_status_label}</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">Email</td><td>{$detail.email}</td>
			<td class="layui-td-gray-2">First name</td><td>{$detail.first_name}</td>
			<td class="layui-td-gray-2">Last name</td><td>{$detail.last_name}</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">Mobile</td><td>{$detail.mobile}</td>
			<td class="layui-td-gray-2">Country</td><td>{$detail.country}</td>
			<td class="layui-td-gray-2">Province</td><td>{$detail.province}</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">City</td><td>{$detail.city}</td>
			<td class="layui-td-gray-2">Address</td><td>{$detail.address}</td>
			<td class="layui-td-gray-2">Donation IP</td><td>{$detail.donate_ip}</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">Third party payment ID</td><td>{$detail.third_payment_id}</td>
			<td class="layui-td-gray-2">Donation time</td><td>{$detail.create_time}</td><td colspan='2'></td>
		</tr>
	</table>
</div>
{/block}
<!-- /主体 -->