{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">Edit recycle order</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray-2">Email<font>*</font></td>
			<td>
				<input disabled type="text" name="email" value="{$detail.email}" autocomplete="off" class="layui-input">
			</td>
			<td class="layui-td-gray-2">Order no<font>*</font></td>
			<td>
				<input disabled type="text" name="order_no" value="{$detail.order_no}" autocomplete="off" class="layui-input">
			</td>
			<td class="layui-td-gray-2">Express no<font>*</font></td>
			<td>
				<input disabled type="text" name="express_no" value="{$detail.express_no}" autocomplete="off" class="layui-input">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">Weight<font>*</font></td>
			<td>
				<input type="text" name="weight"  lay-verify="required" lay-reqText="Please enter weight" value="{$detail.weight}" autocomplete="off" placeholder="Please enter weight" class="layui-input">
			</td>
			<td class="layui-td-gray-2">Quantity</td>
			<td>
				<input type="text" name="quantity"  value="{$detail.quantity}" autocomplete="off" placeholder="Please enter quantity" class="layui-input">
			</td>
			<td class="layui-td-gray-2">Points<font>*</font></td>
			<td>
				<input type="text" name="points"  lay-verify="required" lay-reqText="Please enter points" value="{$detail.points}" autocomplete="off" placeholder="Please enter points" class="layui-input">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">Status</td>
			<td>
				<input type="radio" name="status" value="0" title="Cancelled" {eq name="$detail.status" value="0"} checked{/eq}>
				<input type="radio" name="status" value="1" title="In delivery" {eq name="$detail.status" value="1"} checked{/eq}>
				<input type="radio" name="status" value="2" title="Completed" {eq name="$detail.status" value="2"} checked{/eq}>
			</td>
			<td class="layui-td-gray-2">Create time</td>
			<td>
				<input disabled type="text" name="create_time"  value="{$detail.create_time}" autocomplete="off" class="layui-input">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">Pics</td>
			<td colspan="5" style="vertical-align:top">
				<div class="layui-upload">
					<button type="button" class="layui-btn layui-btn-sm" id="upload_btn_pics">Upload</button>
					<div class="layui-upload-list" id="upload_box_pics">
						<img src="{$detail.pics}" onerror="javascript:this.src='{__GOUGU__}/gougu/images/nonepic.jpg';this.onerror=null;" style="width:200px;max-width:200px" />
						<input type="hidden" name="pics" value="{$detail.pics}" >
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">Remark</td>
			<td colspan="5">
				<textarea name="remark" placeholder="Please enter remark" class="layui-textarea">{$detail.remark}</textarea>
			</td>
		</tr>
	</table>
	<div class="py-3">
		<input type="hidden" name="id" value="{$detail.id}"/>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">submit</button>
		<button type="reset" class="layui-btn layui-btn-primary">reset</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	var moduleInit = ['tool'];

	function gouguInit() {
		var form = layui.form, tool = layui.tool;
		
		//上传图片
		var upload_pics = layui.upload.render({
			elem: '#upload_btn_pics',
			url: '/admin/api/upload',
			done: function (res) {
				//如果上传失败
				if (res.code == 1) {
					return layer.msg('Upload failed');
				}
				//上传成功
				$('#upload_box_pics input').attr('value', res.data.filepath);
				$('#upload_box_pics img').attr('src', res.data.filepath);
			}
		});
				
		//监听提交
		form.on('submit(webform)', function (data) {
			
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					tool.sideClose(1000);
				}
			}
			tool.post("/admin/recycle_order/edit", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->