{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<div class="layui-form p-4">
	<h3 class="pb-3">Recycle Order Detail</h3>
	<table class="layui-table layui-table-form">
		<tr><td class="layui-td-gray-2">Email</td>
			<td>{$detail.email}</td><td class="layui-td-gray-2">Order No</td>
			<td>{$detail.order_no}</td><td class="layui-td-gray-2">Express No</td>
			<td>{$detail.express_no}</td>
		</tr><tr><td class="layui-td-gray-2">Weight</td>
			<td>{$detail.weight}</td><td class="layui-td-gray-2">Quantity</td>
			<td>{$detail.quantity}</td><td class="layui-td-gray-2">Points</td>
			<td>{$detail.points}</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">Status</td>
			<td>
				{eq name="$detail.status" value="0"}已取消{/eq}
				{eq name="$detail.status" value="1"}运输中{/eq}
				{eq name="$detail.status" value="2"}已完成{/eq}
			</td><td class="layui-td-gray-2">Create time</td>
			<td>{$detail.create_time}</td>
		</tr><tr><td class="layui-td-gray-2">Pics</td>
			<td colspan="5">
				<img src="{$detail.pics}" onerror="javascript:this.src='{__GOUGU__}/gougu/images/nonepic600x360.jpg';this.onerror=null;" style="width:200px; max-width:200px" />
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">Remark</td><td colspan="5">{$detail.remark}</td>
		</tr>
	</table>
</div>
{/block}
<!-- /主体 -->