{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}

<div class="p-3">
	<form class="layui-form gg-form-bar border-t border-x">
		<div class="layui-input-inline" style="width:300px;">
			<input type="text" name="keywords" placeholder="Please enter keywords" class="layui-input" autocomplete="off" />
		</div>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="searchform">search</button>
	</form>
	<table class="layui-hide" id="voucher" lay-filter="voucher"></table>
</div>

<script type="text/html" id="toolbarDemo">
	<div class="layui-btn-container">
		<span class="layui-btn layui-btn-sm" lay-event="add" data-title="Create coupon">+ Create coupon</span>
		<button type="button" class="layui-btn layui-btn-sm" id="upload_btn_excel">Upload</button>
		<a href="/static/admin/example/voucher example.xlsx" class="layui-btn layui-btn-sm layui-btn-primary">Download sample</a>
	</div>
</script>
<script type="text/html" id="pics">
	<img src="{{d.pics}}" width="30" height="30" />
</script>
<script type="text/html" id="barDemo">
<div class="layui-btn-group">
	<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="read">detail</a>
	<a class="layui-btn layui-btn-xs" lay-event="edit">edit</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">delete</a>
</div>
</script>

{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		var table = layui.table,tool = layui.tool, form = layui.form, upload = layui.upload;

		layui.pageTable = table.render({
			elem: '#voucher',
			title: 'voucher list',
			toolbar: '#toolbarDemo',
			url: '/admin/voucher/datalist',
			page: true,
			limit: 20,
			cellMinWidth: 300,
			cols: [
				[
				{
					fixed: 'left',
					field: 'id',
					title: 'ID',
					align: 'center',
					width: 80
				},{
					field: 'code',
					title: 'code',
					align: 'center',
					width: 200
				},{
					field: 'value',
					title: 'denomination',
					align: 'center',
					width: 100
				},{
					field: 'deduct_points',
					title: 'Points needed',
					align: 'center',
					width: 100
				},{
					field: 'pics',
					title: 'pics',
					toolbar: '#pics',
					align: 'center',
					width: 60
				},{
					field: 'remark',
					title: 'remark',
					align: 'center',
					width: 140
				},{
					field: 'status_label',
					title: 'status',
					align: 'center',
					width: 140
				},
				{
					fixed: 'right',
					field: 'right',
					title: 'operation',
					toolbar: '#barDemo',
					width: 140,
					align: 'center'
				}				
				]
			]
		});
		
		//监听表头工具栏事件
		table.on('toolbar(voucher)', function(obj){
			if (obj.event === 'add') {
				tool.side("/admin/voucher/add");
				return false;
			}
		});

		//监听表格行工具事件
		table.on('tool(voucher)', function(obj) {
			var data = obj.data;
			if (obj.event === 'read') {
				tool.side('/admin/voucher/read?id='+obj.data.id);
			}
			else if (obj.event === 'edit') {
				tool.side('/admin/voucher/edit?id='+obj.data.id);
			}
			else if (obj.event === 'del') {
				layer.confirm('Are you sure you want to delete', {
					icon: 3,
					title: 'tip'
				}, function(index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							obj.del();
						}
					}
					tool.delete("/admin/voucher/del", { id: data.id }, callback);
					layer.close(index);
				});
			}
			return false;
		});

		//监听搜索提交
		form.on('submit(searchform)', function(data) {
			layui.pageTable.reload({
				where: {
					keywords: data.field.keywords
				},
				page: {
					curr: 1
				}
			});
			return false;
		});

		upload.render({
			elem: '#upload_btn_excel',
			url: '/admin/voucher/upload',
			accept: 'file',
			exts: 'xls|xlsx|Xls|Xlsx',
			done: function (res) {
				//如果上传失败
				if (res.code != 0) {
					return layer.msg(res.msg);
				}
				//上传成功
				layui.pageTable.reload()
			}
		});
	}
</script>
{/block}
<!-- /脚本 -->