{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">Edit User</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">First name</td>
			<td>
				<input type="hidden" name="id" value="{$user.id}">
				<input type="text" name="first_name" placeholder="Please enter first name"	autocomplete="off" class="layui-input" value="{$user.first_name}">
			</td>
			<td class="layui-td-gray">Last name</td>
			<td>
				<input type="text" name="last_name" placeholder="Please enter last name"	autocomplete="off" class="layui-input" value="{$user.last_name}">
			</td>
			<td class="layui-td-gray">Email</td>
			<td>
				<input disabled type="text" name="email" placeholder="Please enter email"	autocomplete="off" class="layui-input" value="{$user.email}">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">PayPal account name</td>
			<td>
				<input type="text" name="paypal_name" placeholder="Please enter paypal account name"	autocomplete="off" class="layui-input" value="{$user.paypal_name}">
			</td>
			<td class="layui-td-gray">PayPal account no</td>
			<td>
				<input type="text" name="paypal_account" placeholder="Please enter paypal account no"	autocomplete="off" class="layui-input" value="{$user.paypal_account}">
			</td>
			<td class="layui-td-gray">Total points</td>
			<td>
				<input disabled type="text" name="points" autocomplete="off" class="layui-input" value="{$user.points}">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">User type</td>
			<td>
				<input disabled type="radio" name="type" value="1" title="Individual user" {eq name="$user.type" value="1" }checked{/eq}>
				<input disabled type="radio" name="type" value="2" title="Merchants" {eq name="$user.type" value="2" }checked{/eq}>
			</td>
			<td class="layui-td-gray">Mobile</td>
			<td>
				<input type="text" name="mobile" placeholder="Please enter mobile"	autocomplete="off" class="layui-input" value="{$user.mobile}">
			</td>
			<td class="layui-td-gray">Lock points</td>
			<td>
				<input disabled type="text" name="lock_points" autocomplete="off" class="layui-input" value="{$user.lock_points}">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">Company name</td>
			<td>
				<input type="text" name="company" placeholder="Please enter company name"	autocomplete="off" class="layui-input" value="{$user.company}">
			</td>
			<td class="layui-td-gray">Company tax code</td>
			<td>
				<input type="text" name="company_tax_code" placeholder="Please enter company tax code"	autocomplete="off" class="layui-input" value="{$user.company_tax_code}">
			</td>
			<td class="layui-td-gray">Postcode</td>
			<td>
				<input type="text" name="postcode" placeholder="Please enter postcode"	autocomplete="off" class="layui-input" value="{$user.postcode}">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">Address1</td>
			<td colspan="5">
				<input type="text" name="address" placeholder="Please enter address1" autocomplete="off" class="layui-input" value="{$user.address}">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">Address2</td>
			<td colspan="5">
				<input type="text" name="detail_address" placeholder="Please enter address2" autocomplete="off" class="layui-input" value="{$user.detail_address}">
			</td>
		</tr>
	</table>

	<div class="py-3">
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">submit</button>
		<button type="reset" class="layui-btn layui-btn-primary">reset</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		var tool = layui.tool, form = layui.form;
		//监听提交
		form.on('submit(webform)', function (data) {
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					parent.layui.tool.close(1000);					
				}
			}
			tool.post("/admin/user/edit", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->