{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<div class="p-3">
	<form class="layui-form gg-form-bar border-t border-x">
		<div class="layui-input-inline" style="width:300px;">
			<select name="type" id="type-select">
				<option value="">Please select a user type</option>
				<option value="1">Individual user</option>
				<option value="2">Merchants</option>
			</select>
		</div>
		<div class="layui-input-inline" style="width:300px;">
			<select name="approval_status" id="approval_status-select">
				<option value="">Please select audit status</option>
				<option value="0">Waiting for approval</option>
				<option value="1">Approved</option>
			</select>
		</div>
		<div class="layui-input-inline" style="width:300px;">
			<input type="text" name="keywords" placeholder="user_no/name/email" class="layui-input" autocomplete="off" />
		</div>
		<div class="layui-input-inline" style="width:120px;">
			<input type="text" class="layui-input" id="start_time" readonly placeholder="Registration time start" name="start_time">
		</div>
		~
		<div class="layui-input-inline" style="width:120px;">
			<input type="text" class="layui-input" id="end_time" readonly placeholder="Registration time end" name="end_time">
		</div>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">search</button>
	</form>
	<table class="layui-hide" id="user" lay-filter="user"></table>
</div>
<script type="text/html" id="status">
	<i class="layui-icon {{#  if(d.status == 1){ }}layui-icon-ok{{#  } else { }}layui-icon-close{{#  } }}"></i>
</script>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		var tool = layui.tool, table = layui.table, laydate = layui.laydate, form = layui.form;
		laydate.render({
			elem: '#start_time',
			type: 'date',
			lang: 'en'
		});

		laydate.render({
			elem: '#end_time',
			type: 'date',
			lang: 'en'
		});

		layui.pageTable = table.render({
			elem: '#user',
			title: 'user list',
			toolbar: '#toolbarDemo',
			url: '/admin/user/index', //数据接口
			page: true, //开启分页
			limit: 20,
			cols: [
				[ //表头
					{
						field: 'user_no',
						title: 'user no',
						align: 'center',
						width: 100
					}, {
						field: 'type_label',
						title: 'user type',
						align: 'center',
						width: 150
					}, {
						field: 'first_name',
						title: 'first name',
						align: 'center',
						width: 100
					}, {
						field: 'last_name',
						title: 'last name',
						align: 'center',
						width: 100
					}, {
						field: 'mobile',
						title: 'mobile',
						align: 'center',
						width: 150
					}, {
						field: 'email',
						title: 'email',
						align: 'center',
						width: 240
					}, {
						field: 'address',
						title: 'address1',
						align: 'center',
						width: 240
					}, {
						field: 'detail_address',
						title: 'address2',
						align: 'center',
						width: 240
					}, {
						field: 'postcode',
						title: 'postcode',
						align: 'center',
						width: 120
					}, {
						field: 'register_time',
						title: 'registration time',
						align: 'center',
						width: 150
					}, {
						field: 'approval_status_label',
						title: 'approval status',
						align: 'center',
						width: 180
					}, {
						field: 'status_label',
						title: 'status',
						align: 'center',
						width: 120
					}, {
						field: 'right',
						fixed: 'right',
						title: 'operation',
						align: 'center',
						width: 260,
						templet:function(d){
							let btn1 = '<span class="layui-btn layui-btn-xs layui-btn-normal" lay-event="view">detail</span><span class="layui-btn layui-btn-xs" lay-event="edit">edit</span>';
							let btn2 = '<span class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disable">disable</span>';
							let btn3 = '<span class="layui-btn layui-btn-normal layui-btn-xs" lay-event="open">enable</span>';
							let btn4 = '<span class="layui-btn layui-btn layui-btn-xs" lay-event="approved">approve</span>';
							if(d.status == 1){
								if (d.approval_status == 0){
									return '<div class="layui-btn-group">'+btn1+btn2+btn4+'</div>';
								}else{
									return '<div class="layui-btn-group">'+btn1+btn2+'</div>';
								}
							}else{
								return '<div class="layui-btn-group">'+btn1+btn3+'</div>';
							}
						}
					}
				]
			]
		});

		//监听行工具事件
		table.on('tool(user)', function (obj) {
			var data = obj.data;
			if (obj.event === 'view') {
				tool.side('/admin/user/view?id=' + data.id);
				return;
			}
			else if (obj.event === 'edit') {
				tool.side('/admin/user/edit?id=' + data.id);
				return;
			}
			else if (obj.event === 'approved') {
				layer.confirm('Are you sure you want to pass the review', {
					icon: 3,
					title: 'tip'
				}, function (index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layer.close(index);
							layui.pageTable.reload()
						}
					}
					tool.post("/admin/user/approved", { id: data.id, status: 0 }, callback);
					layer.close(index);
				});
			}
			else if (obj.event === 'disable') {
				layer.confirm('Are you sure you want to disable', {
					icon: 3,
					title: 'tip'
				}, function (index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layer.close(index);
							layui.pageTable.reload()
						}
					}
					tool.post("/admin/user/disable", { id: data.id, status: 0 }, callback);
					layer.close(index);
				});
			} else if (obj.event === 'open') {
				layer.confirm('Are you sure you want to enable', {
					icon: 3,
					title: 'tip'
				}, function (index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layer.close(index);
							layui.pageTable.reload()
						}
					}
					tool.post("/admin/user/disable", { id: data.id, status: 1 }, callback);
					layer.close(index);
				});
			}
		});
		//监听搜索提交
		form.on('submit(webform)', function (data) {
			layui.pageTable.reload({
				where: {
					keywords: data.field.keywords,
					type: data.field.type,
					approval_status: data.field.approval_status,
					start_time: data.field.start_time,
					end_time: data.field.end_time
				},
				page: {
					curr: 1
				}
			});
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->