{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<div class="layui-form p-4">
	<h3 class="pb-3">User info</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">First name</td>
			<td>
				{$user.first_name}
			</td>
			<td class="layui-td-gray">Last name</td>
			<td>
				{$user.last_name}
			</td>
			<td class="layui-td-gray">Email</td>
			<td>
				{$user.email}
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">PayPal account name</td>
			<td>
				{$user.paypal_name}
			</td>
			<td class="layui-td-gray">PayPal account no</td>
			<td>
				{$user.paypal_account}
			</td>
			<td class="layui-td-gray">Total points</td>
			<td>
				{$user.points}
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">User type</td>
			<td>
				{$user.type_label}
			</td>
			<td class="layui-td-gray">Mobile</td>
			<td>
				{$user.mobile}
			</td>
			<td class="layui-td-gray">Lock points</td>
			<td>
				{$user.lock_points}
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">Company name</td>
			<td>
				{$user.company}
			</td>
			<td class="layui-td-gray">Company tax code</td>
			<td>
				{$user.company_tax_code}
			</td>
			<td class="layui-td-gray">Postcode</td>
			<td>
				{$user.postcode}
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">Address1</td>
			<td>
				{$user.address}
			</td>
			<td class="layui-td-gray">Address2</td>
			<td>
				{$user.detail_address}
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">Registration time</td>
			<td>
				{$user.register_time | date='Y-m-d H:i:s'}
			</td>
			<td class="layui-td-gray">Registration IP</td>
			<td>
				{$user.register_ip}
			</td>
			<td class="layui-td-gray">Status</td>
			<td>
				{$user.status_label}
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">Last login IP</td>
			<td>
				{$user.last_login_ip}
			</td>
			<td class="layui-td-gray-2">Last login time</td>
			<td>
				{$user.last_login_time | date='Y-m-d H:i:s'}
			</td>
		</tr>
	</table>
</div>
{/block}
<!-- /主体 -->