{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">email configuration</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray-2">SMTP address<font>*</font>
			</td>
			<td>
				<input type="hidden" name="id" value="{$id}">
				<input type="text" name="smtp" lay-verify="required" autocomplete="off" placeholder="Please enter SMTP address"
					lay-reqText="Please enter SMTP address" class="layui-input" {notempty name="$config.smtp" }
					value="{$config.smtp}" {/notempty} style="width:240px;display: inline-block;">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray-2">port<font>*</font>
			</td>
			<td>
				<input type="text" name="smtp_port" lay-verify="required" autocomplete="off" placeholder="Please enter port"
					lay-reqText="Please enter port" class="layui-input" {notempty name="$config.smtp_port" }
					value="{$config.smtp_port}" {/notempty} style="width:240px;display: inline-block;">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">email account<font>*</font>
			</td>
			<td>
				<input type="text" name="smtp_user" autocomplete="off" lay-verify="required" placeholder="Please enter email account"
					lay-reqText="Please enter email account" class="layui-input" {notempty name="$config.smtp_user" }
					value="{$config.smtp_user}" {/notempty} style="width:240px;display: inline-block;">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">email password<font>*</font>
			</td>
			<td>
				<input type="password" name="smtp_pwd" lay-verify="required" autocomplete="off" placeholder="Please enter email password"
					class="layui-input" {notempty name="$config.smtp_pwd" } value="{$config.smtp_pwd}" {/notempty}
					style="width:240px;display: inline-block;">
			</td>
		</tr>

		<tr>
			<td class="layui-td-gray">from<font>*</font>
			</td>
			<td>
				<input type="text" name="from" autocomplete="off" lay-verify="required" placeholder="Please enter from"
					lay-reqText="Please enter form" class="layui-input" {notempty name="$config.from" } value="{$config.from}"
					{/notempty} style="width:240px; display: inline-block;">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">display email address<font>*</font>
			</td>
			<td>
				<input type="text" name="email" lay-verify="required" autocomplete="off" placeholder="Please enter display email address"
					lay-reqText="Please enter display email address" class="layui-input" {notempty name="$config.email" }
					value="{$config.email}" {/notempty} style="width:240px;display: inline-block;">
			</td>
		</tr>
	</table>
	<div class="py-3">
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">submit</button>
		<button type="reset" class="layui-btn layui-btn-primary">reset</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool','tinymce'];
	function gouguInit() {
		var form = layui.form, tool = layui.tool, tinymce = layui.tinymce;
		
		var edit = tinymce.render({
			selector: "#container",
			height: 300
		});
		//监听提交
		form.on('submit(webform)', function (data) {
			data.field.template = tinyMCE.editors['container'].getContent();
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					parent.layui.tool.close(1000);
				}
			}
			tool.post("/admin/conf/edit", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->