{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<div class="p-3">
	<table class="layui-hide" id="conf" lay-filter="conf"></table>
</div>

<script type="text/html" id="status">
	<i class="layui-icon {{#  if(d.status == 1){ }}layui-icon-ok{{#  } else { }}layui-icon-close{{#  } }}"></i>
</script>
<!--<script type="text/html" id="toolbarDemo">-->
<!--  <div class="layui-btn-container">-->
<!--	<button class="layui-btn layui-btn-sm" lay-event="add">+ Create config</button>-->
<!--  </div>-->
<!--</script>-->
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		var table = layui.table, tool = layui.tool, form = layui.form;
		layui.pageTable = table.render({
			elem: '#conf',
			title: 'config list',
			toolbar: '#toolbarDemo',
			url: "/admin/conf/index",
			page: true, //开启分页				
			limit: 20,
			cols: [
				[{
					field: 'id',
					width: 80,
					title: 'ID',
					align: 'center'
				}, {
					field: 'title',
					width: 200,
					title: 'config name'
				}, {
					field: 'name',
					title: 'config key',
					width: 200
				}, {
					field: 'status',
					width: 80,
					title: 'status',
					templet: '#status',
					align: 'center'
				}, {
					width: 160,
					title: 'operation',
					align: 'center',
					templet: function (d) {
						var html = '<button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit" >edit config</button></div>';
						return html;
					}
				}]
			]
		});

		//表头工具栏事件
		table.on('toolbar(conf)', function (obj) {
			if (obj.event === 'add') {
				tool.side("/admin/conf/add");
				return;
			}
		});
		
		//监听行工具事件
		table.on('tool(conf)', function (obj) {
			var data = obj.data;
			if (obj.event === 'add') {
				tool.side('/admin/conf/add?id=' + data.id);
				return;
			}
			if (obj.event === 'edit') {
				tool.side('/admin/conf/edit?id=' + data.id);
				return;
			}
			if (obj.event === 'del') {
				layer.confirm('Are you sure you want to delete', {
					icon: 3,
					title: 'tip'
				}, function (index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							obj.del();
							layer.close(index);
						}
					}
					tool.delete("/admin/conf/delete", { id: obj.data.id }, callback);
				});
			}
		});

		//监听搜索提交
		form.on('submit(webform)', function (data) {
			if (data.field.keywords) {
				tableIns.reload({
					where: { keywords: data.field.keywords }, page: { curr: 1 }
				});
			} else {
				location.reload();
			}
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->