{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">Token config</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray-2">Token issuing organization</td>
			<td>
				<input type="hidden" value="{$id}" name="id">
				<input type="text" name="iss" autocomplete="off" placeholder="Please enter token issuing organization" lay-reqText="Please enter token issuing organization"
					class="layui-input" {notempty name="$config.iss" } value="{$config.iss}" {/notempty}>
			</td>
			<td class="layui-td-gray-2">Token signing author
			</td>
			<td>
				<input type="text" name="aud" autocomplete="off" placeholder="Please enter token signing author" lay-reqText="Please enter token signing author"
					class="layui-input" {notempty name="$config.aud" } value="{$config.aud}" {/notempty}>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">Token Secrect</td>
			<td>
				<input type="text" name="secrect" autocomplete="off" placeholder="Please enter secrect" lay-reqText="Please enter secrect"
					class="layui-input" {notempty name="$config.secrect" } value="{$config.secrect}" {/notempty}>
			</td>
			<td class="layui-td-gray">Token expiration time
			</td>
			<td>
				<input type="text" name="exptime" autocomplete="off" placeholder="Please enter expiration time" lay-reqText="Please enter expiration time"
					class="layui-input" {notempty name="$config.exptime" } value="{$config.exptime}" {/notempty}>
			</td>
		</tr>
	</table>
	<div class="p-y3">
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">submit</button>
		<button type="reset" class="layui-btn layui-btn-primary">reset</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		var form = layui.form, tool = layui.tool;
		//监听提交
		form.on('submit(webform)', function (data) {
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					parent.layui.tool.close(1000);
				}
			}
			tool.post("/admin/conf/edit", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->