{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">System configuration</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray-2">System name<font>*</font>
			</td>
			<td>
				<input type="hidden" name="id" value="{$id}">
				<input type="text" name="admin_title" lay-verify="required" autocomplete="off" placeholder="Please enter system name"
					lay-reqText="Please enter system name" class="layui-input" {notempty name="$config.admin_title" }
					value="{$config.admin_title}" {/notempty}>
			</td>
			<td class="layui-td-gray">website name<font>*</font>
			</td>
			<td>
				<input type="text" name="title" lay-verify="required" autocomplete="off" placeholder="Please enter website name"
					lay-reqText="Please enter website name" class="layui-input" {notempty name="$config.title" } value="{$config.title}"
					{/notempty}>
			</td>
			<td class="layui-td-gray">domain name<font>*</font>
			</td>
			<td>
				<input type="text" name="domain" lay-verify="required" autocomplete="off" placeholder="Please enter domain name"
					   lay-reqText="Please enter domain name" class="layui-input" {notempty name="$config.domain" } value="{$config.domain}"
					   {/notempty}>
			</td>
<!--			<td rowspan="3" class="layui-td-gray">logo</td>-->
<!--			<td rowspan="3" style="width: 240px;">-->
<!--				<div class="layui-upload" style="width: 240px;">-->
<!--					<div class="layui-upload-list" id="demo1" style="width: 100%; height:100px; overflow: hidden;">-->
<!--						<img src='{notempty name="$config.logo"}{$config.logo}{/notempty}'-->
<!--							style="max-width: 100%; width: 100%;" />-->
<!--						<input type="hidden" name="logo" {notempty name="$config.logo" } value="{$config.logo}"-->
<!--							{/notempty}>-->
<!--					</div>-->
<!--					<button type="button" class="layui-btn layui-btn-normal" style="width: 100%;"-->
<!--						id="uploadBtn">Upload LOGO</button>-->
<!--				</div>-->
<!--			</td>-->
		</tr>
		<tr>
			<td class="layui-td-gray">SEO keywords<font>*</font>
			</td>
			<td colspan="5">
				<input type="text" name="keywords" lay-verify="required" autocomplete="off" placeholder="Use , to separate multiple keywords"
					lay-reqText="Please enter SEO keywords" class="layui-input" {notempty name="$config.keywords" }
					value="{$config.keywords}" {/notempty}>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">SEO describe<font>*</font>
			</td>
			<td colspan="5">
				<textarea name="desc" lay-verify="required" placeholder="Please enter SEO describe" lay-reqText="Please enter SEO describe"
					class="layui-textarea">{notempty name="$config.desc"}{$config.desc} {/notempty}</textarea>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">Statistics code</td>
			<td colspan="5">
				<textarea name="code" placeholder="Please enter statistics code"
					class="layui-textarea">{notempty name="$config.code"}{$config.code}{/notempty}</textarea>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">Copyright Information</td>
			<td colspan="5">
				<input type="text" name="copyright" autocomplete="off" placeholder="Please enter Copyright Information" lay-reqText="Please enter Copyright Information"
					class="layui-input" {notempty name="$config.copyright" } value="{$config.copyright}" {/notempty}>
			</td>
		</tr>
	</table>

	<div class="py-3">
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">submit</button>
		<button type="reset" class="layui-btn layui-btn-primary">reset</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		var form = layui.form, tool = layui.tool, upload = layui.upload;
		//监听提交
		form.on('submit(webform)', function (data) {
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					parent.layui.tool.close(1000);
				}
			}
			tool.post("/admin/conf/edit", data.field, callback);
			return false;
		});

		//logo上传
		var uploadInst = upload.render({
			elem: '#uploadBtn',
			url: "/admin/api/upload",
			done: function (res) {
				if (res.code == 1) {
					layer.msg('upload failed');
				} else {
					layer.msg('upload succeeded');
					$('#demo1 input').attr('value', res.data.filepath);
					$('#demo1 img').attr('src', res.data.filepath);
				}
			}
		});
	}
</script>
{/block}
<!-- /脚本 -->